/*<meta name="author" content="Nava Gia Ginasta">
<meta name="email" content="navagiaginasta@gmail.com" />
<meta name="keywords" content="Web Developer - Graphic Design - Photography">*/
body {
	padding:0px;
	margin:0px;
	background:url(../images/exp_photo_set_redbull.jpg);
	background-attachment:fixed;
	background-size:cover;	
	font-family:Arial, Helvetica, sans-serif;
}
#wrap_header {
	padding:0px;
	margin:0px;
	width:100%;
	height:45px;
	background:#fff;
}
hr {
	color:#F9F9F9;
}
#header {
	margin:0px auto;
	width:1150px;
	height:45px;
}
#header ul {
	padding:0px;
	margin:0px;
	list-style:none;
}
#header li {
	padding:0px;
	margin:0px;
	list-style:none;
	float:left;
	line-height:40px;
	padding:0px 8px;
}
#header li span {
	list-style:none;
	float:left;
	line-height:40px;
	padding:0px 8px;
}
#header li span a {
	color:#666;
	text-decoration:none;
}
#header li span:hover {
	border-bottom:5px solid #15aeec;
}
#header li span a:hover {
	color:#15aeec;
}
#container {
	margin:10px auto;
	width:1120px;
}
#left_content {
	float:left;
	width:20%;
	box-shadow:0px 0px 3px #000;
}
#right_content {
	float:right;
	width:79%;
	background:#fff;
	border-radius:5px 5px 5px 5px;
	box-shadow:0px 0px 3px #000;
}
#content_left {
	background:#fff;
	border-radius:5px;
}
#content_right {
	margin-top:5px;
	margin-left:15px;
	background:#fff;
	font-size:14px;
}
#content_right_input {
	padding:5px 5px;
	background-color: #f2f9fe; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f9fe), to(#d6f0fd));
	background-image: -webkit-linear-gradient(top, #f2f9fe, #d6f0fd);
	background-image: -moz-linear-gradient(top, #f2f9fe, #d6f0fd);
	background-image: -ms-linear-gradient(top, #f2f9fe, #d6f0fd);
	background-image: -o-linear-gradient(top, #f2f9fe, #d6f0fd);
	background-image: linear-gradient(to bottom, #f2f9fe, #d6f0fd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f9fe, endColorstr=#d6f0fd);
	
	border-radius:5px 5px 0px 0px;
}
#title {
	padding:8px;
	border-bottom:1px solid #ccc;
}
.input, .textarea {
	font-family:Arial, Helvetica, sans-serif;
	width:100%;
	padding:5px;
	border-radius:5px;
	color:#09C;
	border:1px solid #ccc;
}
.input:hover, .textarea:hover {
	box-shadow:0px 0px 5px #09C;
}
.button {
	margin:0px 0px;
	width:90px;
	font-size:14px;
	padding:0px 10px;
	border-radius:3px;
	border:1px solid #15aeec;
	cursor:pointer;
	 -webkit-border-radius: 3px; 
	 -moz-border-radius: 3px;
	 border-radius: 3px;
 	font-family:arial, helvetica, sans-serif; padding: 6px 10px 6px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
}
.button:hover {	
	border:1px #03F solid;	
	background: rgba(73,155,234,1);
	background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 0%, rgba(32,124,229,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(0%, rgba(32,124,229,1)), color-stop(100%, rgba(32,124,229,1)));
	background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 0%, rgba(32,124,229,1) 100%);
	background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 0%, rgba(32,124,229,1) 100%);
	background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 0%, rgba(32,124,229,1) 100%);
	background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 0%, rgba(32,124,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );

}
#green{
	background:#c0fab4;
	padding:7px;
	border:1px solid #60fb41;
	margin-top:3px;
	margin-bottom:3px;
	margin-right:3px;
	margin-left:3px;
	text-align:left;
	font-size:12px;
	font-weight:bold;
	border-radius:5px;
}
#red{
	background:#fdb6b6;
	padding:7px;
	border:1px solid #fb3232;
	margin-top:3px;
	margin-bottom:3px;
	margin-right:3px;
	margin-left:3px;
	text-align:left;
	font-size:12px;
	font-weight:bold;
	border-radius:5px;
}
#footer {
	margin:50px auto;
	width:950px;
	font-size:12px;
	color:#FFF;
}
#footer a {
	color:#fff;
	text-decoration:none;
}
#footer a:hover {
	text-decoration:underline;
}

/*<meta name="author" content="Nava Gia Ginasta">
<meta name="email" content="navagiaginasta@gmail.com" />
<meta name="keywords" content="Web Developer - Graphic Design - Photography">*/